/.quarto/
/_freeze/
/_site/
/.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
* [0-9].*
* [0-9]
__pycache__/
*.pyc
.ipynb_checkpoints/
/drafts
/private_slides/
/docs/private_slides/

/assets/files/combined_novels_cleaned.csv
/assets/files/combined_novels_with_text.csv
/assets/files/combined_novels_nyt_genre_subset.csv

**/*.quarto_ipynb
